@using FinanceAndBudgetTracking.Models.DTO
@using FinanceAndBudgetTracking.UI.ViewModels

@model CategoryDTO;

@{
    ViewData["Title"] = "Dashboard";
}
<div class="container text-center">
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <h3>Transactions</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            Column
        </div>
    </div>
</div>