
@using FinanceAndBudgetTracking.Models.DTO
@using FinanceAndBudgetTracking.UI.ViewModels

@model UserDTO;

@{
    ViewData["Title"] = "Dashboard";
}
<div class="text-center">
    <h1 class="display-4">Welcome After User Logged In @Model.Name! </h1>
</div>
